[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

certifi= "*"
chardet= "*"
defusedxml= "*"
Django= "*"
django-allauth= "*"
django-appconf= "*"
django-cacheops= "*"
django-cors-headers= "*"
django-crispy-forms= "*"
django-filter= "*"
django-hstore= "*"
django-imagekit= "*"
django-model-utils= "*"
django-object-actions= "*"
django-rest-auth= "*"
django-storages= "*"
django-taggit= "*"
django-taggit-serializer= "*"
djangorestframework= "*"
djangorestframework-gis= "*"
djangorestframework-hstore= "*"
drf-nested-routers= "*"
factory-boy= "*"
Faker= "*"
freezegun= "*"
funcy= "*"
idna= "*"
oauthlib= "*"
opbeat= "*"
pilkit= "*"
psycopg2= "*"
python-dateutil= "*"
python3-openid= "*"
pytz= "*"
redis= "*"
requests= "*"
requests-oauthlib= "*"
six= "*"
text-unidecode= "*"
urllib3= "*"
psycopg2-binary = "*"

[requires]

python_version = "3.6"
